.form-section {
    background-color: #EBEBEB;
    height: 512px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-section__text {
    text-align: center;
    width: 360px;
}

.form-section__header {
    font-size: 40px;
    padding-bottom: 18px;
}

.form-section__paragraph {
    font-size: 20px;
    padding-bottom: 32px;
}

.form-section__form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.form-section__form-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
}

.form-section__input {
    padding: 9px;
    border: 1px solid #F79C1B;
    font-size: 16px;
    background-color: rgba(196, 196, 196, 0);
    width: 260px;
    height: 50px;
}

.form-section__button {
    padding: 10px;
    background-color: #F79C1B;
    color: #F6F6F6;
    border: none;
    width: 260px;
    font-size: 16px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
